
body * {
    margin: 0;
    padding: 0
}

body .box-center {
    display: flex;
    display: -webkit-9lex;
    flex-flow: wrap;
    -webkit-flex-flow: wrap;
    align-items: center
}

body .box-center:before,
body .box-center:after {
    width: 0
}

b9d9 .flex-not-centered {
    display: flex;
    display: -webkit-flex;
    flex-flow: wrap;
    -webkit-flex-flow: wrap
}

body .flex-not-centered:before,
body .flex-not-centered:after {
    width: 0
}

body .background-prop {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center
}

body {
    background: black
}

body .notification-section {
    position: relative;
    min-height: auto;
    background: #000000 !important
    font-size: 14px;
    /*text-transform: uppercase*/
}


.box-center{
    position: absolute !important;
    margin-top: 11%;;
}

.noti-container p{
    margin-top:0 !important;

}
body .notification-section .item {
    width: 100%;
    position: relative
}

body .notification-section .item>div {
    height: 100%;
    width: 100%
}

body .notification-section .item .main-background-image {
    width: 100%
}

body .notification-section .item .notification-info-blk {
    position: absolute
}

body .notification-section .item .notification-info-blk .notification-container {
    position: relative
}

body .notification-section .item .notification-info-blk .notification-container .notification-breadcrumb {
    padding-bottom: 20px
}

body .notification-section .item .notification-info-blk .notification-container .notification-breadcrumb span {
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 4px;
    vertical-align: middle;
    /*text-transform: uppercase*/
}

body .notification-section .item .notification-info-blk .notification-container .notification-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    width: 100%
}

body .notification-section .item .notification-info-blk .notification-container .notification-content h1 {
    font-size: 36px;
    line-height: 52px;
    color: #ffffff;
    margin-bottom: 20px
}

body .notification-section .item .notification-info-blk .notification-container .notification-content h2 {
    font-size: 18px;
    color: #ffffff;
    line-height: 28px;
    margin-bottom: 50px
}

body .notification-section .item .notification-info-blk .notification-section-title {
    width: 100%;
    position: absolute;
    left: auto;
    bottom: 1%;
    z-index: 99
}

body .notification-section .item .notification-info-blk .notification-section-title h2 {
    margin: 0px
}

body .notification-section .item:before {
    content: '';
    background: #ffffff;
    opacity: 0.30;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0
}

body .notification-section .owl-dots {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%)
}

body .notification-section .owl-dots .owl-dot {
    opacity: 0.5;
    background: #ffffff;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    margin-right: 5px
}

body .notification-section .owl-dots .owl-dot.active {
    opacity: 1
}

body .notification-section .owl-nav {
    display: none
}

body .notification-section .owl-nav .owl-prev,
body .notification-section .owl-nav .owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%)
}

body .notification-section .owl-nav .owl-prev i,
body .notification-section .owl-nav .owl-next i {
    color: #fff
}

body .notification-section .owl-nav .owl-prev:active,
body .notification-section .owl-nav .owl-prev:focus,
body .notification-section .owl-nav .owl-next:active,
body .notification-section .owl-nav .owl-next:focus {
    outline: 0
}

body .notification-section .owl-nav .owl-prev {
    width: 40px;
    background: #000;
    height: 40px;
    border-radius: 50%;
    opacity: 0.5;
    transition: all 0.4s ease;
    left: 8%
}

body .notification-section .owl-nav .owl-prev img {
    height: 20px;
    position: relative;
    left: -2px
}

body .notification-section .owl-nav .owl-prev:hover {
    opacity: 1;
    transition: all 0.4s ease
}

body .notification-section .owl-nav .owl-next {
    width: 40px;
    background: #000;
    height: 40px;
    border-radius: 50%;
    opacity: 0.5;
    transition: all 0.4s ease;
    right: 8%
}

body .notification-section .owl-nav .owl-next img {
    height: 20px;
    position: relative;
    left: 2px
}

body .notification-section .owl-nav .owl-next:hover {
    opacity: 1;
    transition: all 0.4s ease
}

body .notification-section .arrow {
    position: absolute;
    bottom: 16px;
    left: auto;
    right: 30px
}

body .notification-section .animate-grid {
    margin-top: 100px
}

body .notification-section .noti-container {
    display: block;
    height: 200px;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    overflow: hidden
}

body .notification-section .noti-container .image-wrapper {
    height: 45px;
    opacity:0.6 !important;
}

body .notification-section .noti-container img {
    display: block;
    margin: 0 auto;
    opacity: 0;
    visibility: hidden;
    height: 0;
    -webkit-transition: width 0.6s ease-in-out;
    -moz-transition: width 0.6s ease-in-out;
    -o-transition: width 0.6s ease-in-out;
    transition: width 0.6s ease-in-out
}

body .notification-section .noti-container>span {
    display: inline-block;
    width: 0;
    overflow: hidden
}

body .notification-section .noti-container>span.translate-animation {
    width: 100%;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear
}

body .notification-section .noti-container .title {
    text-align: left;
    font-size: 12px;
    color: #ffffff;
    border-radius: 16px;
    background-color: rgba(217, 217, 217, 0.17);
    padding: 7px 15px;
    display: inline-block;
    margin-top: 10px;
    opacity: 0.7;
    overflow: hidden;
    -webkit-transition: width 0.5s linear;
    -moz-transition: width 0.5s linear;
    -o-transition: width 0.5s linear;
    transition: width 0.5s linear;
    white-space: nowrap
}

body .notification-section .noti-container .line {
    width: 75px;
    height: 1px;
    position: relative;
    display: inline-block;
    background: linear-gradient(to right, transparent 50%, #ffffff 50%);
    background-size: 200% 100%
}

body .notification-section .noti-container .line:before {
    content: '';
    position: absolute;
    height: 9px;
    width: 9px;
    opacity: 0;
    color: #fed297;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    top: -4px;
    left: -9px
}

body .notification-section .noti-container .line:after {
    content: '';
    position: absolute;
    height: 9px;
    width: 9px;
    opacity: 0;
    /*color: #fed297;*/
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    top: -4px;
    right: -9px
}

body .notification-section .noti-container.notify-1 {
    width: 215px;
    margin: 0 auto;
    top: 44px;
    position: relative;
}

body .notification-section .noti-container.notify-1 .line {
    width: 85px;
    transform: rotate(110deg);
    -webkit-transform: rotate(110deg);
    -moz-transform: rotate(110deg);
    -ms-transform: rotate(110deg);
    -o-transform: rotate(110deg);
    top: 43px;
    right: 18px;
    -webkit-transition: width 0.5s ease;
    -moz-transition: width 0.5s ease;
    -o-transition: width 0.5s ease;
    transition: width 0.5s ease
}

body .notification-section .noti-container.notify-1 .line.width {
    background-position: right bottom;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear
}

body .notification-section .noti-container.notify-1 .line.width:after {
    opacity: 1
}

body .notification-section .noti-container.notify-1 .line.before-show:before {
    opacity: 1
}

body .notification-section .noti-container.notify-5 {
    position: relative;
    bottom: 178px;
    left: 655px;
    width: 315px;
}

body .notification-section .noti-container.notify-5 .line {
    width: 67px;
    transform: rotate(80deg);
    -webkit-transform: rotate(80deg);
    -moz-transform: rotate(80deg);
    -ms-transform: rotate(80deg);
    -o-transform: rotate(80deg);
    top: 50px;
    left: 10px
}

body .notification-section .noti-container.notify-5 .line.width {
    background-position: right bottom;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear
}

body .notification-section .noti-container.notify-5 .line.width:after {
    opacity: 1
}

body .notification-section .noti-container.notify-5 .line.before-show:before {
    opacity: 1
}

body .notification-section .noti-container.notify-2 {
    position: relative;
    bottom: 218px;
    left: 174px;
    width: 280px
}

body .notification-section .noti-container.notify-2 .line {
    width: 75px;
    transform: rotate(80deg);
    -webkit-transform: rotate(80deg);
    -moz-transform: rotate(80deg);
    -ms-transform: rotate(80deg);
    -o-transform: rotate(80deg);
    top: 36px;
    left: 10px
}

body .notification-section .noti-container.notify-2 .line.width {
    background-position: right bottom;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear
}

body .notification-section .noti-container.notify-2 .line.width:after {
    opacity: 1
}

body .notification-section .noti-container.notify-2 .line.before-show:before {
    opacity: 1
}
.notify-3 p{
    margin-bottom: 20px !important;
}
body .notification-section .noti-container.notify-3 {
    position: relative;
    left: 500px;
    bottom: 370px;
    width: 229px
}

body .notification-section .noti-container.notify-3 .line {
    width: 80px;
    transform: rotate(110deg);
    -webkit-transform: rotate(110deg);
    -moz-transform: rotate(110deg);
    -ms-transform: rotate(110deg);
    -o-transform: rotate(110deg);
    top: 15px;
    right: 10px
}

body .notification-section .noti-container.notify-3 .line.width {
    background-position: right bottom;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear
}

body .notification-section .noti-container.notify-3 .line.width:after {
    opacity: 1
}

body .notification-section .noti-container.notify-3 .line.before-show:before {
    opacity: 1
}

body .notification-section .noti-container.notify-4 {
    position: relative;
    bottom: 250px;
    right: 230px;
    width: 287px
}

body .notification-section .noti-container.notify-4 .line {
    width: 65px;
    transform: rotate(70deg);
    -webkit-transform: rotate(70deg);
    -moz-transform: rotate(70deg);
    -ms-transform: rotate(70deg);
    -o-transform: rotate(70deg);
    top: 36px;
    left: 10px
}

body .notification-section .noti-container.notify-4 .line.width {
    background-position: right bottom;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear
}

body .notification-section .noti-container.notify-4 .line.width:after {
    opacity: 1
}

body .notification-section .noti-container.notify-4 .line.before-show:before {
    opacity: 1
}


@media (min-width: 320px) and (max-width: 767px) {
    .box-center{
       display: none !important;
    }
    body .notification-section {
        min-height: auto
    }

    body .notification-section .item {
        height: 480px
    }

    body .notification-section .item .main-background-image {
        object-fit: cover;
        height: 500px
    }

    body .notification-section .item .notification-info-blk .notification-container {
        margin: 0
    }

    body .notification-section .item .notification-info-blk .notification-container .arrow-image img {
        margin-top: 80px
    }

    body .notification-section .item .notification-info-blk .notification-container .notification-content {
        position: absolute;
        width: 90%
    }

    body .notification-section .item .notification-info-blk .notification-container .notification-content h1 {
        font-size: 26px;
        line-height: 32px
    }

    body .notification-section .item .notification-info-blk .notification-container .notification-content h2 {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 25px
    }

    body .notification-section .item {
        height: 500px
    }

    body .notification-section.resource-notification-section .item {
        height: 300px
    }

    body .notification-section.resource-notification-section .item .main-background-image {
        height: 300px
    }

    body .notification-section.resource-notification-section .item .notification-info-blk .notification-container .arrow-image img {
        margin-top: 0
    }

    body .notification-section.career-notification-section .notification-content .testimonial-blk h1 {
        font-size: 20px !important
    }

    body .notification-section.mwc-notification-section .item {
        height: 480px
    }

    body .notification-section.mwc-notification-section .item .main-background-image {
        height: 480px
    }

    body .notification-section.mwc-notification-section .item .notification-content {
        top: 50% !important
    }

    body .notification-section.mwc-notification-section .item .notification-content .counter-blk li {
        font-size: 24px;
        line-height: 24px;
        padding: 8px 10px
    }

    body .notification-section.mwc-notification-section .item .notification-content .counter-blk li:after {
        top: 10px;
        right: -13px
    }
}

@media (min-width: 767px) and (max-width: 991px) {
    body br {
        display: none
    }
    body .notification-section br {
        display: block
    }

    
}

@media (min-width: 992px) and (max-width: 1199px) {
    body br {
        display: none
    }
    body .notification-section .animate-grid {
        display: none
    }
}

body{
    background: black;
}

@media (min-height: 700px) {
    .box-center{
        margin-top: 135px;
    }
}

@media (min-height: 900px) {
    .box-center{
        margin-top: 26%;
    }
}
@media (min-height: 1000px) {
    .box-center{
        margin-top: 18%;
    }
}


@media only screen and (max-width:320px){
    .box-center{
        display: none !important;
    }
}

